 /* remove default browser spacing*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors to be used*/

  --primary-color: #B8660E;
  --primary-dark-hover: #d35400;
  --secondary-color: #457A97;
  --background-light: #f8f8f8;
  --text-color: #0A0A0A;
  --big-text-color: #353A4A; 


  /* Font Sizes */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --body-text-: 16px;
  --Mdbody-text-size: 18px;
  --fs-lg: 24px;
  --fs-xl: 32px;
  --header-text: 48px; 
}


/*title text style*/
/* the font-family 'Lato sans-serif', has been linked
* and is available for your use
* */
body {
  background-color: var(--background-light);
  font-family:  'Lato', sans-serif;
  padding-bottom: 20px;
  color: var(--big-text-color);
  border: 2px solid  #b8660e23;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 20% 30px;
}

.profile-container {
  margin: 20px auto 0;
  max-width: 960px;
  width: 50%;
}

.seller-info {
  margin-bottom: 3rem;
}

.seller-info h1 {
  background-color: var(--primary-color);
  border: none;
  padding: 20px;
  margin: -20px -50% 50px;
  color: var(--background-light);
  text-align: center;
}

.seller-info-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin: 0 -30%;
}

.seller-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.seller-name {
  font-size: 28px;
  font-weight: bold;
}

.seller-other-name {
  color: var(--primary-dark-hover);
}

.seller-location {
  margin-bottom: 20px;
}

.seller-bio {
  max-width: 600px;
  margin: 0.5rem auto;
  font-size: 1rem;
  line-height: 1.5;
}

.product-gallery h2 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin: auto -50%;
  padding: 20px 30px;
}

.product-card {
  border: 1px solid var(--background-light);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--background-light);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card:is(:hover, :focus) {
  border: 2px solid var(--primary-dark-hover);
  border-radius: 12px;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.product-card .details {
  padding: 1rem;
}

.product-card h3 {
  font-size: 1.05rem;
}

.product-card p {
  font-size: 0.9rem;
  color: var(--big-text-color);
  margin-top: 10px;
  margin-right: -5px;
}

.product-price {
  font-weight: bold;
  margin-right: 15px;
}

.product-card .buy-now {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 70px;
  padding: 5px 10px;
  background-color:  #e65d02;
  color: var(--background-light);
  transition: transform 0.2s;
}

.product-card .buy-now:hover {
  transform: scale(1.02);
  background-color: var(--primary-dark-hover);
}

@media (max-width: 500px) {
  .seller-info-flex {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }

  .seller-name,
  .seller-location,
  .seller-bio {
    justify-self: center;
    margin-right: -20px;
  }
}