body {
  font-family: "Lato", sans-seri;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  color: #0a0a0a;
  font-size: 16px;
  padding-top: 10rem;
}

.site-header {
  width: 100%;
  height: auto;
  background-color: var(--background-light);;
  color: var(--text-color);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header-flex {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}

.back a{
  text-decoration: none;
  color: #b8660e;
  font-size: 1.5rem;
  
}

main {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

legend {
  align-self: center;
}

label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

select {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  height: 40px;
  margin-top: 20px;
}

select:hover {
  cursor: pointer;
  border-color: black;
}
header a {
  color: #b8660e;
}

button a {
  text-decoration: none;
  color: white;
}
button {
  align-self: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #b8660e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  width: 40%;
  transition: transform 0.2s ease;
}

#forgot-password {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #353a4a;
  margin-left: 30px;
}

#forgot-password:hover {
  cursor: pointer;
  color: #0a0a0a;
}

#sign-up-link {
  margin-left: 20px;
  text-decoration: none;
  border-bottom: #353a4a 1px solid;
}

button:hover {
  background-color: #d35400;
  transform: scale(1.1);
}

h1 {
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
}

p {
  color: orangered;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #b8660e;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}
