/* remove default browser spacing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors to be used*/

  --primary-color: #b8660e;
  --primary-dark-hover: #d35400;
  --secondary-color: #457a97;
  --background-light: #f8f8f8;
  --text-color: #0a0a0a;
  --big-text-color: #353a4a;

  /* Font Sizes */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --body-text-: 16px;
  --Mdbody-text-size: 18px;
  --fs-lg: 24px;
  --fs-xl: 32px;
  --header-text: 48px;
}

/*title text style*/
/* the font-family 'Lato sans-serif', has been linked
* and is available for your use
* */
.site-header {
  width: 100%;
  height: auto;
  background-color: var(--background-light);;
  color: var(--text-color);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header-flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  
  
}

.main-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
  padding-left: 4rem;
}

.main-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--fs-sm);
  font-weight: 500;
}

.main-nav a:hover {
  color: var(--primary-color);
  text-decoration: underline;

}

.header-cta {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.user-profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.profile-icon {
  width: 30px;           
  height: 30px;
  border-radius: 50%;    
  object-fit: cover;     
}


.cart-icon {
  position: relative;
  font-size: 22px;
  color: #b8660e;
  cursor: pointer;
}

body {
  background-color: var(--background-light);
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #353a4a;
}

.header-bottom{
  padding-top: 10rem;
}
.search-container {
  max-width: 50%;
  margin: auto;
  position: relative;
}

#searchInput {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 2px solid #457a97;
  border-radius: 8px;
}

.suggestion-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background: #f8f8f8;
  border: 1px solid #457a97;
  border-radius: 6px;
  box-shadow: 0 2px 5px #d35400;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f8f8f8;
}

.dashboard-container {
  padding: 30px 20px;
}

.category-section {
  margin-bottom: 40px;
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

.category-title {
  font-size: 22px;
  color: #b8660e;
  margin-bottom: 10px;
  font-weight: bold;
}

.artisan-scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.artisan-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  min-width: 220px;
  margin-right: 20px;
  flex-shrink: 0;
  box-shadow: 0 3px 6px #d35400;
  padding: 12px;
  scroll-snap-align: start;
  transition: transform 0.2s;
}

.artisan-card:hover {
  transform: translateY(-3px);
}

.artisan-image {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
  background-color: #ddd;
  margin-bottom: 10px;
}

.artisan-name {
  font-size: 16px;
  font-weight: 600;
  color: #457a97;
}

.artisan-name a{
  font-size: 16px;
  font-weight: 600;
  color: #457a97;
  text-decoration: none;
}

.artisan-scroll-row::-webkit-scrollbar {
  height: 6px;
}
.artisan-scroll-row::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
.site-header {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo h1 {
  color: #b8660e;
  margin: 0;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 500;
}

.profile-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-bottom {
  margin-top: 15px;
}
.site-footer {
  background-color: #b8660e;
  color: white;
  padding: 40px 20px 20px;
  font-size: 14px;
}
/* Footer */
.site-footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 4rem;
  padding-bottom: 1rem;
  justify-content: center;
  width: 100%;
  
}

.footer-content {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  gap: 40px;
}

.footer-about {
  flex: 1 1 250px;
  width: 100%;
  max-width: 300px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 20px;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  color: white;
}

.footer-links {
  flex: 1 1 150px;
  min-width: 150px;
}

.footer-links h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--background-light);
}

.footer-social {
  margin-top: 20px;
}

.footer-social h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-icons a {
  color: #ccc;
  font-size: 18px;
  margin-right: 12px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: var(--background-light);
  border-top: 1px solid var(--background-light);
  padding-top: 20px;
}

.site-header {
  width: 100%;
  height: auto;
  background-color: var(--background-light);;
  color: var(--text-color);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.main-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
  padding-left: 4rem;
}

.main-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--fs-sm);
  font-weight: 500;
}

.main-nav a:hover {
  color: var(--primary-color);
  text-decoration: underline;

}

.header-cta {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.cta-btn {
  background-color: var(--primary-color);
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-decoration: none;
  color: var(--background-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn:hover{
  background-color: var(--primary-dark-hover);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn2 {
  border: 2px solid  #B8660E;
  color:  #B8660E;
  background-color: var(--background-light);
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-decoration: none;
 
}

.cta-btn2:hover{
  color: var(--primary-dark-hover);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid  #d35400;
}